<h2>Vehicles</h2>

<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>

<div class="custom-card">
  <div class="form-group">
    <label for="make">Make</label>
    <select name="make" id="make" class="form-control custom-select" [(ngModel)]="query.makeId" (change)="onFilterChange()">
        <option value=""></option>
        <option *ngFor="let make of makes" [value]="make.id">{{ make.name }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>



<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Id</th>
      <th (click)="sortBy('make')">
        Make
        <i *ngIf="query.sortBy === 'make'"
        class="fas"
        [class.fa-sort-asc]="query.isSortAscending"
        [class.fa-sort-desc]="!query.isSortAscending"></i>
      </th>

      <th (click)="sortBy('model')">Model</th>
      <th (click)="sortBy('contactName')">Contact Name</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <!-- Add your vehicle data here -->
    <tr *ngFor="let vehicle of vehicles">
      <td>{{vehicle.id}}</td>
      <td>{{vehicle.make.name}}</td>
      <td>{{vehicle.model.name}}</td>
      <td>{{vehicle.contact.name}}</td>
      <td><a href="/vehicles/{{vehicle.id}}">View</a></td>
    </tr>
    <!-- Add more vehicle rows as needed -->
  </tbody>
</table>
